body {
  font-family: Times New Roman;
  font-size: 15px;
}

body {
  background-color: #FCFBF4;
}

#form{
  border: 3px solid;
  display: block;
  background-color: #27445c;
  padding: 5px;
}

#firstName label:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

#lastName label:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

#email label:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

#phone label:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

#DOB label:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

#title{
  text-align: center;
  
}