body {
  font-family: Times New Roman;
  font-sze: 15px;
}

body {
  background-color: #FCFBF4;
}

.firstname {
  border: 3px solid;
  
}

.firstname:hover{
  border: 5px groove #40E0D0;
  color: #ff7a59
  background-color: #fff;
  
}