body {
  font-family: Times New Roman;
  font-size: 25px;
}

body {
  background-color: #FCFBF4;
}


#form {
  
  border-radius: 25px;
  background: #27445c;
  padding: 20px;
  width: 1000px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 40px;
  padding-bottom: 50px;
  padding-top: 50px;
}
label{
  font-size: 25px;
}

#firstName {
  padding: 5px;
  
}

#firstName label:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

#lastName {
  padding: 5px;
}

#lastName label:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

#email {
  padding: 5px;
  
}

#email label:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

#phone {
  padding: 5px;
  
}

#phone label:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

#DOB {
  padding: 5px;
  
}

#DOB label:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

#title {
  text-align: center;
  
}